@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-white">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="display-4">Product Management</h1>
            <p class="lead">Managnement your products efficiently and organized.</p>
            <hr class="my-4">
            <p>Explore our system, manage your sales and products, make it easier!</p>
            <button type="button" class="btn btn-primary btn-lg mt-3" onclick="window.location.href = '@Url.Action("Index", "Products")'">
                <i class="fa fa-shopping-cart mr-2"></i> Acess your products
            </button>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src='../css/imgs/shopping_cart.png' class="img-fluid">
        </div>
    </div>
</div>
