@page
@model LoginModel


<h1>@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <b><h2 class="text-white">Sign In</h2></b>
                <h3 class="text-white">Enter your credentials.</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="usuario" />
                    <label asp-for="Input.Username" class="form-label">Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" />
                    <label asp-for="Input.Password" class="form-label">password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label" style="color:white">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign In</button>
                </div>
                <br />
                <div>
                   @*  <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p> *@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't you have an account? Sign Up right now!</a>
                    </p>
                    @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
